# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Checkpoints directory
checkpoints/

# API key file
serpai_api_key.txt

# IDE/project files
.idea/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs and databases
*.log
*.sqlite3

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code
.vscode/

# macOS
.DS_Store
